

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

#loadingp{
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	z-index:1500;
	position:fixed;
}
#loader{
	position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
display:block;
background-color:black;
border:3px solid transparent;
border-top-color:rgba(25, 181, 254,0.8);
border-radius:50%;
 -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before{
	content:"";
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	border:2px solid transparent;
       border-top-color:rgba(150, 40, 27,0.9);
       border-radius:50%;
 -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after{
	content:"";
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom:15px;
border:2px solid transparent;
border-top-color:rgba(236,236,236,0.8);
border-radius:50%;
 -webkit-animation: spin 1.5s linear infinite; 
          animation: spin 1.5s linear infinite; 
}
@-webkit-keyframes spin {
  0%   { 
  		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+*/ 
      -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  	
  }
  
  100% { 
  	
  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+*/ 
      -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
   0%   { 
  		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+*/ 
      -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  	
  }
  
  100% { 
  	
  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+*/ 
      -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}



.container{
	background-size:cover;
	display:inline;
}
.ul{
	position: fixed;
        top: 0px;
	background-color:rgb(15,15,15);
	color:white;
font-family: 'Oswald', sans-serif;
	font-size:125%;
	z-index:1000;
	left:0;
	right:0;
	
	
}
.button{
	padding:-10px;

	
}

.title {
font-size:300%;	
font-family: 'Oswald', sans-serif;
color:rgba(236,236,236,0.8) ;
background-image: url('http://www.fsinspection.com/wp-content/uploads/2015/01/blue-circuit-board.jpg');
background-size:cover;
text-align:center;
padding:50px;
background-position:center top;
border:5px solid rgba(25, 181, 254,0.2);
margin-top:85px;
border-radius:1% 0%;

}
tr,th{
	 border: 3px solid rgba(25, 181, 254,0.2);
    border-collapse: collapse;
}
.about{
font-size:150%;
text-align:center;
padding:20px;
margin-top:5px;
color:rgba(236,236,236,0.8) ;	
display:inline-block;
width:97.5%;
line-height:250%;
font-family: 'Oswald', sans-serif;

}
.images{
font-size:150%;
text-align:center;
margin-top:30px;
display:inline-block;
width:100%;

}
.abot{
font-size:75%;	
color:rgba(236,236,236,0.8);
text-align:center;
padding:40px;
display:block;
font-family: 'Roboto', sans-serif;
padding-bottom:0px;
line-height:200%;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    background-color:rgba(236,236,236,0.8);
}
.dropbtn:focus{
	background-color:transparent;
	border:0px solid transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(29,29,29);
    min-width: 160px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    margin-right:11%;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(236,236,236,0.8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Oswald', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


}
h1{
	display:inline;
}
th{
	display:inline-block;width:200;height:200;
}
.social{
	background-color:rgb(15,15,15);
	vertical-align:bottom;
	margin:0px;
	width:99.5%;


}
table{
	width:100%;
}
.dropbtn2 {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn2:hover {
    background-color:rgba(236,236,236,0.8);
}
.dropbtn2:focus{
	background-color:transparent;
	border:0px solid transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(29,29,29);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content2 a {
    color: rgba(236,236,236,0.8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f1f1f1}

	

